.container {
  background-color: #white;
  border: 2px solid #22A7F0;
  border-radius: 2px;
}

.header {
  height: 35px;
  background-color: #22A7F0;
  padding: 5px 5px;
  color: #333;
}

.h1 {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1.75em;
}

.button {
  composes: basic from "./Buttons.css";
  background-color: #dadfe1;
}
.button:disabled {
  background-color: #bbbbbb;
  color: #888;
}

.loading {
  text-align: center;
  padding: 25px 0;
}
.loading img {
  height: 25px;
}
